<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <meta name="baidu-site-verification" content="MfC8ppEukL" />
    <!-- CSRF Token -->
    <meta name="csrf-token" content="B98xKsd3svxMxDRaDSHgk4t7sqQjTuBJOzDhdzev">

            <title>{{$site->title}} </title>
        <meta name="description" content="{{$site->description}}
" />
    
    <meta name="author" content="Summer" />

            <link rel="shortcut icon" href="{{$site->ico}}"/>
    
    <!-- Styles -->
    <link href="https://iocaffcdn.phphub.org//build/css/0581d3cf5f6c7a36bc65-vendors.css" rel="stylesheet">
    <link href="https://iocaffcdn.phphub.org//build/css/b60fdc4fda399d72091d-app.css" rel="stylesheet">

    </head>
    <body class=" topics-show-page">

        <!-- Scripts -->
    <script>
        window.Laravel = {"csrfToken":"B98xKsd3svxMxDRaDSHgk4t7sqQjTuBJOzDhdzev"}    </script>

    <script>
        window.Config = {
            'GA_Tracking_ID': 'UA-133323996-1',
            'user_id': 0,
            'search_user_id': 0,
            'cdn_domain': 'iocaffcdn.phphub.org',
            'domain': 'learnku.com',
            'request_interval': 600000, // 消息通知检测周期
            'notification_count': 0,
            'token': 'B98xKsd3svxMxDRaDSHgk4t7sqQjTuBJOzDhdzev',
            'environment': 'production',
            'url': 'https://learnku.com',
            'tags_url': '',
            'community': {
                'id': 5,
                'name': 'Vue.js'
            },
            'routes': {
                'notificationsCount' : 'https://learnku.com/notifications/count',
                'upload_image' : 'https://learnku.com/courses/upload_image',
                                    // 社区搜索
                    'api_search' : 'https://learnku.com/communities/vuejs/api_search',
                                'collections_store' : 'https://learnku.com/collections',
                'collections_my' : 'https://learnku.com/collections/my/ajax',
            },
            'cdnDomain': 'https://iocaffcdn.phphub.org/',
            'following_users': [],
            'search_type': 'standard',
            'book_id': 0,
            'is_docs': "no",
            'article_id': 0,
            'topic_id': 24724,
            'user_settings': {
                'visit_topic_patches_page': false,
                'select_best_answer_guide': false
            }
        };

        var ShowCrxHint = 'no';
    </script>

    <style>

        .ui.top.menu {
            border-top: 4px solid #f46660;
        }

        .ui.fluid.search .results {
            width: 550px;
        }

        @media  only screen and (max-width: 767px) {
            .ui.top.menu > .ui.container {
                height: 52px;
                flex-direction: initial;
            }
        }

                    
/* 顶部导航栏 */
.ui.top.menu {
    border-top: 4px solid #4fc08d;
}

/* 右边导航栏顶部样式 */
.ui.top-color.segment:not(.inverted) {
    border-top: 2px solid #4fc08d;
}

/* 右边导航栏顶部样式 */
.ui.top-color.card:not(.inverted) {
    border-top: 2px solid #4fc08d;
}

/* 主要按钮 */

.ui.primary.buttons .button, .ui.primary.button {
    background-color: #4fc08d;
    border-color: #4fc08d;
}

/* 主要按钮选中状态 */
.ui.primary.buttons .button:hover, .ui.primary.button:hover {
    background-color: #4fc08d;
    border-color: #4fc08d;
}

/* 外框按钮 */
.ui.basic.primary.buttons .button, .ui.basic.primary.button {
    color: #4fc08d !important;
    box-shadow: 0px 0px 0px 1px #4fc08d inset !important;
}

/* 外框按钮选中状态 */
.ui.basic.primary.buttons .button:hover, .ui.basic.primary.button:hover {
    color: #4fc08d !important;
    box-shadow: 0px 0px 0px 1px #4fc08d inset !important;
}
.ui.basic.primary.buttons .active.button, .ui.basic.primary.active.button {
    color: #4fc08d !important;
    box-shadow: 0px 0px 0px 1px #4fc08d inset !important;
}

.ui.basic.buttons .button:hover, .ui.basic.button:hover {
    box-shadow: 0px 0px 0px 1px #4fc08d inset !important;
}
            </style>
        
        
        
        
        <div class="ui top menu sidebar stackable">
    <div class="item">
            <img class="ui image" style="width:26px;height:26px;margin-top:-2px;" src="https://iocaffcdn.phphub.org//uploads/communities/hIZjRRdF8oVYZy69XJnT.png">
        <span class="site-name ml-2">Vue.js</span>
    </div>

<a href="https://learnku.com/vuejs" class="item secondary">
    <i class="icon list"></i> 话题列表
</a>

    <a href="https://learnku.com/vuejs/wikis" class="item secondary">
        <i class="icon wikipedia"></i> 社区 Wiki
    </a>

    <a href="https://learnku.com/vuejs/c/translations" class="item">
        <i class="icon translate"></i> 优质外文
    </a>

    <a href="https://learnku.com/vuejs/c/php-jobs" class="item">
        <i class="icon suitcase"></i> 招聘求职
    </a>

    <a href="https://learnku.com/vuejs/courses" class="item">
        <i class="icon book"></i> Vue.js 实战教程
    </a>

    <a href="https://learnku.com/vuejs/docs" class="item">
        <i class="icon text file outline"></i> 社区文档
    </a>


    <div class="item">
    <a class="ui basic small button no-pjax" href="https://learnku.com/auth/login"><i class="icon user "></i> 登录 </a>
    </div>

    <div class="item">
    <a class="ui basic small button no-pjax" href="https://learnku.com/auth/register"><i class="icon signup "></i> 注册 </a>
    </div>
</div>


        <div class="pusher">

            <div class="main container">

                <nav class="ui main borderless menu top stackable topnav" id="topnav">
    <div class="ui container">

      <div class="ui inline scrolling community-nav dropdown mr-2" style="padding-left: 22px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;">
        <div class="text site-logo" style="color:#888888;display: flex;">

                            <img class="ui image" style="width:26px;height:26px;margin-top:-2px;" src="https://iocaffcdn.phphub.org//uploads/communities/hIZjRRdF8oVYZy69XJnT.png">
                <span class="site-name">Vue.js</span>
                        <i class="dropdown icon ml-3"></i>
        </div>
        <div class="menu ml-4" style="max-height: 440px;">

            <div class="ui icon search input" style="width: 162px;">
              <i class="search icon"></i>
              <input type="text" placeholder="搜索社区">
            </div>

              <a class="item pr-3" href="/">
                <img class="ui image" style="width:20px;height:20px;margin-top:-2px;" src="https://iocaffcdn.phphub.org/uploads/images/201901/24/1/OyBnfB2vlk.png"> LearnKu
              </a>

                                        
            
                <div class="divider"></div>
                <div class="header">
                   推荐社区（6）
                </div>
                                        <a class="item" href="https://learnku.com/php" style="padding-right: 2.2em!important;">
                        <img class="ui image" style="width:20px;height:20px;margin-top:-2px;" src="https://iocaffcdn.phphub.org//uploads/communities/Y7fElYYwCFjTTXCdwPNW.png"> PHP
                      </a>
                                        <a class="item" href="https://learnku.com/ios" style="padding-right: 2.2em!important;">
                        <img class="ui image" style="width:20px;height:20px;margin-top:-2px;" src="https://iocaffcdn.phphub.org//uploads/communities/0MWz89TgPG0AaPbULcWT.png"> iOS
                      </a>
                                        <a class="item" href="https://learnku.com/golang" style="padding-right: 2.2em!important;">
                        <img class="ui image" style="width:20px;height:20px;margin-top:-2px;" src="https://iocaffcdn.phphub.org//uploads/communities/sNljssWWQoW6J88O9G37.png"> Golang
                      </a>
                                        <a class="item" href="https://learnku.com/vuejs" style="padding-right: 2.2em!important;">
                        <img class="ui image" style="width:20px;height:20px;margin-top:-2px;" src="https://iocaffcdn.phphub.org//uploads/communities/hIZjRRdF8oVYZy69XJnT.png"> Vue.js
                      </a>
                                        <a class="item" href="https://learnku.com/python" style="padding-right: 2.2em!important;">
                        <img class="ui image" style="width:20px;height:20px;margin-top:-2px;" src="https://iocaffcdn.phphub.org//uploads/communities/mTBLIP7o0gVGn3ZCphpN.png"> Python
                      </a>
                                        <a class="item" href="https://learnku.com/laravel" style="padding-right: 2.2em!important;">
                        <img class="ui image" style="width:20px;height:20px;margin-top:-2px;" src="https://iocaffcdn.phphub.org//uploads/communities/WtC3cPLHzMbKRSZnagU9.png"> Laravel
                      </a>
                              
        </div>
    </div>

        <a class="item header right menu " style="display:none">
            <i class="icon align justify"></i>
        </a>

        <a href="https://learnku.com/vuejs" class="item secondary">
    社区
</a>



    <a href="https://learnku.com/vuejs/wikis" class="item secondary">
        Wiki
    </a>

    <div class="ui simple item dropdown article stackable nav-user-item  secondary">
        分类  <i class="dropdown icon"></i>

        <div class="ui menu stackable">
            <a href="https://learnku.com/vuejs/c/translations" class="item">
                <i class="icon translate"></i> 外文翻译
            </a>
            <a href="https://learnku.com/vuejs/c/php-jobs" class="item">
                <i class="icon suitcase"></i> 招聘求职
            </a>
            <a href="https://learnku.com/vuejs/c/qa" class="item">
                <i class="icon question"></i> 技术问答
            </a>
            <a href="https://learnku.com/vuejs/c/links" class="item">
                <i class="icon linkify"></i> 链接分享
            </a>
            <a tabindex="-1" href="https://learnku.com/vuejs/c/tutorials" class="item">
                <i class="icon food"></i> 教程帖子
            </a>
            <a tabindex="-1" href="https://learnku.com/vuejs/c/life" class="item">
                <i class="icon coffee"></i> 分享生活
            </a>
            <a tabindex="-1" href="https://learnku.com/vuejs/c/announcement" class="item">
                <i class="icon bullhorn"></i> 社区公告
            </a>
            <a href="https://learnku.com/vuejs/c/meetups" class="item">
                <i class="icon users"></i> 线下聚会
            </a>
        </div>
    </div>

            <div class="ui simple item dropdown article stackable nav-user-item  secondary">
            教程  <i class="dropdown icon"></i>

            <div class="ui menu stackable">
                <a href="https://learnku.com/vuejs/courses" class="item">
                    <i class="icon home"></i> Vue.js 实战教程首页
                </a>

                                    <a class="item" href="https://learnku.com/courses/vuejs-essential" style="padding-right: 36px!important;">
                        <img class="ui avatar image" src="https://iocaffcdn.phphub.org/uploads/images/201901/29/1/I2x4n8kWIB.png!/both/200x200" style="width:20px;height:20px;">
                        《V01 Vue.js 实战教程 - 基础篇》
                    </a>
                            </div>
        </div>
    
    <div class="ui simple item dropdown article stackable nav-user-item secondary">
        文档  <i class="dropdown icon"></i>

        <div class="ui menu stackable">
            <a href="https://learnku.com/vuejs/docs" class="item">
                <i class="icon home"></i> 社区文档首页
            </a>

                            <a class="item" href="https://vuejscaff.com/v2/" style="padding-right: 36px!important;">
                    <img class="ui avatar image" src="https://iocaffcdn.phphub.org/uploads/images/201901/28/1/fx3wutWJ1C.png!/both/200x200" style="width:20px;height:20px;">
                    《Vue.js 官方中文文档》
                </a>
                            <a class="item" href="https://learnku.com/docs/environment-setup" style="padding-right: 36px!important;">
                    <img class="ui avatar image" src="https://iocaffcdn.phphub.org/uploads/images/201901/28/1/cRwKMIcrw5.jpeg!/both/200x200" style="width:20px;height:20px;">
                    《前端开发环境部署》
                </a>
                    </div>
    </div>

    

<form class="ui fluid category search item secondary hide-on-991" action="https://learnku.com/vuejs/search" method="GET">
  <div class="ui icon input">
    <input class="prompt" name="q" type="text" placeholder="搜索" value="">
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</form>

<div class=" right menu stackable secondary">
            <div class="item rm-link-color">
            <a class="mr-4 no-pjax login_required" href="https://learnku.com/auth/login"><i class="icon sign in "></i> 登录 </a>
            <a class="no-pjax" href="https://learnku.com/auth/register" style="margin-left: 10px;"><i class="icon user add "></i> 注册 </a>
        </div>
    </div>    </div>
</nav>
                
                
    <div class="ui centered grid container stackable">
        <div class="twelve wide column main-column">

            
            <div class="ui segment article-content">
                {!! $detail->html !!}
            </div>

            <div class="ui message basic text-center voted-box pt-2">
                <div class="pt-0">
                    <div class="ui small horizontal list topic-voted-users" style="font-size:16px;padding-top: 8px;display: flex;">
    <div class="item" style="font-size: 15px;margin-right: 12px;font-size: 15px;margin-right: 12px;display: inline-flex;flex-shrink: 0;line-height: 26px;">



        <a class="item ui topic-vote ui action login_required rm-link-color text-mute rm-tdu" id="topic-vote-24724" data-id="24724" href="#" title="Vote Up" >
            <i class="icon thumbs up outline fs-huge"></i> <span class="count vote-count">27</span> 人点赞
        </a>

        </div>
    <div class="users" style="display: inline-flex;-webkit-box-flex: 1;-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;-ms-flex-wrap: wrap;flex-wrap: wrap;overflow: hidden;height: 42px;">
                                <a class="item" style="margin-left: 2px;" href="https://learnku.com/users/24833">
                <img class="ui image avatar translator" src="https://iocaffcdn.phphub.org/uploads/avatars/24833_1553957423.jpg!/both/100x100" style="width: 34px;height: 34px;">
            </a>
                                <a class="item" style="margin-left: 2px;" href="https://learnku.com/users/18950">
                <img class="ui image avatar translator" src="https://iocaffcdn.phphub.org/uploads/avatars/18950_1528442335.jpg!/both/100x100" style="width: 34px;height: 34px;">
            </a>
                                <a class="item" style="margin-left: 2px;" href="https://learnku.com/users/32812">
                <img class="ui image avatar translator" src="https://iocaffcdn.phphub.org/uploads/avatars/32812_1543588344.png!/both/100x100" style="width: 34px;height: 34px;">
            </a>
                                <a class="item" style="margin-left: 2px;" href="https://learnku.com/users/18316">
                <img class="ui image avatar translator" src="https://iocaffcdn.phphub.org/uploads/avatars/18316_1502704706.jpeg!/both/100x100" style="width: 34px;height: 34px;">
            </a>
                                <a class="item" style="margin-left: 2px;" href="https://learnku.com/users/21840">
                <img class="ui image avatar translator" src="https://iocaffcdn.phphub.org/uploads/images/201801/03/1/CSBCkyd2E8.jpg!/both/100x100" style="width: 34px;height: 34px;">
            </a>
                                <a class="item" style="margin-left: 2px;" href="https://learnku.com/users/27146">
                <img class="ui image avatar translator" src="https://iocaffcdn.phphub.org/uploads/images/201801/03/1/wbpiaoMqhD.jpg!/both/100x100" style="width: 34px;height: 34px;">
            </a>
                                <a class="item" style="margin-left: 2px;" href="https://learnku.com/users/20047">
                <img class="ui image avatar translator" src="https://iocaffcdn.phphub.org/uploads/avatars/20047_1519798224.jpg!/both/100x100" style="width: 34px;height: 34px;">
            </a>
                                <a class="item" style="margin-left: 2px;" href="https://learnku.com/users/20847">
                <img class="ui image avatar translator" src="https://iocaffcdn.phphub.org/uploads/avatars/20847_1514803766.jpeg!/both/100x100" style="width: 34px;height: 34px;">
            </a>
                                <a class="item" style="margin-left: 2px;" href="https://learnku.com/users/1">
                <img class="ui image avatar translator" src="https://iocaffcdn.phphub.org/uploads/avatars/1_1530614766.png!/both/100x100" style="width: 34px;height: 34px;">
            </a>
                                <a class="item" style="margin-left: 2px;" href="https://learnku.com/users/4943">
                <img class="ui image avatar translator" src="https://iocaffcdn.phphub.org/uploads/avatars/4943_1485932695.jpg!/both/100x100" style="width: 34px;height: 34px;">
            </a>
                                <a class="item" style="margin-left: 2px;" href="https://learnku.com/users/20500">
                <img class="ui image avatar translator" src="https://iocaffcdn.phphub.org/uploads/avatars/20500_1551950162.jpeg!/both/100x100" style="width: 34px;height: 34px;">
            </a>
                                <a class="item" style="margin-left: 2px;" href="https://learnku.com/users/16637">
                <img class="ui image avatar translator" src="https://iocaffcdn.phphub.org/uploads/avatars/16637_1496217158.jpeg!/both/100x100" style="width: 34px;height: 34px;">
            </a>
                                <a class="item" style="margin-left: 2px;" href="https://learnku.com/users/24141">
                <img class="ui image avatar translator" src="https://iocaffcdn.phphub.org/uploads/avatars/24141_1552477264.jpeg!/both/100x100" style="width: 34px;height: 34px;">
            </a>
                                <a class="item" style="margin-left: 2px;" href="https://learnku.com/users/24147">
                <img class="ui image avatar translator" src="https://iocaffcdn.phphub.org/uploads/avatars/24147_1523352325.jpg!/both/100x100" style="width: 34px;height: 34px;">
            </a>
                                <a class="item" style="margin-left: 2px;" href="https://learnku.com/users/20161">
                <img class="ui image avatar translator" src="https://iocaffcdn.phphub.org/uploads/avatars/20161_1511772961.jpeg!/both/100x100" style="width: 34px;height: 34px;">
            </a>
                                <a class="item" style="margin-left: 2px;" href="https://learnku.com/users/16176">
                <img class="ui image avatar translator" src="https://iocaffcdn.phphub.org/uploads/avatars/16176_1553481205.png!/both/100x100" style="width: 34px;height: 34px;">
            </a>
                                <a class="item" style="margin-left: 2px;" href="https://learnku.com/users/17470">
                <img class="ui image avatar translator" src="https://iocaffcdn.phphub.org/uploads/avatars/17470_1546653715.JPG!/both/100x100" style="width: 34px;height: 34px;">
            </a>
                                <a class="item" style="margin-left: 2px;" href="https://learnku.com/users/32111">
                <img class="ui image avatar translator" src="https://iocaffcdn.phphub.org/uploads/avatars/32111_1542349747.jpeg!/both/100x100" style="width: 34px;height: 34px;">
            </a>
                                <a class="item" style="margin-left: 2px;" href="https://learnku.com/users/8784">
                <img class="ui image avatar translator" src="https://iocaffcdn.phphub.org/uploads/avatars/8784_1482838129.png!/both/100x100" style="width: 34px;height: 34px;">
            </a>
                                <a class="item" style="margin-left: 2px;" href="https://learnku.com/users/17096">
                <img class="ui image avatar translator" src="https://iocaffcdn.phphub.org/uploads/avatars/17096_1497953555.jpeg!/both/100x100" style="width: 34px;height: 34px;">
            </a>
            </div>
</div>                </div>
            </div>




            <div id="replies" name="replies"></div>

<div class="ui threaded comments comment-list ">

    <div class="ui divider horizontal grey"><i class="icon comments"></i> 讨论数量: <span class="reply-count">1</span></div>




    <div class="ui secondary menu" style="margin-bottom:30px">
        <div class="ui item" style="font-size:14px;padding: 0px 4px;">
            排序：
        </div>
        <a class="ui item active popover" data-content="按照时间排序" href="https://learnku.com/vuejs/t/24724?order_by=created_at#replies" role="button">时间</a>
        <a class="ui item  popover" data-content="按照投票排序" href="https://learnku.com/vuejs/t/24724?order_by=vote_count#replies" role="button">投票</a>
    </div>

            <div class="comments-feed">
                            <div class="comment">
    <div id="reply86682" name="reply86682"></div>
      <div class="avatar">
        <a  href="https://learnku.com/users/32812">
          <img src="https://iocaffcdn.phphub.org/uploads/avatars/32812_1543588344.png!/both/100x100">
        </a>

      </div>

  <div class="content">
    <div class="comment-header">
      <div class="meta">
          <a class="author" href="https://learnku.com/users/32812">Zerin</a>
        <div class="metadata">

<a class="ml-1 rm-link-color mr-1" href="https://learnku.com/users/32812/reputation_logs" target="_blank">
                <i class="icon trophy"></i>306 声望
          </a>
                            <span class="mr-1">/</span> <span>PHPer @ 加马行乐</span>
                    </div>
    </div>

      <div class="reaction">
          <div class="ui floating basic icon dropdown button">

            <a href="javascript:void(0)" onclick="replyOne('Zerin');" title="回复 Zerin" class="ui teal reply-btn" ><i style="color:rgba(0, 0, 0, 0.3);" class="icon reply"></i></a>


          </div>
      </div>

    </div>

    <div class="text comment-body markdown-reply fluidbox-content">
                <div class="px-3">
<p>mark</p>
        </div>

    </div>

    <div class="" title="2019-04-15 20:17:58" style="background: #fff;padding: 15px;font-size: 12px;padding-top:0px;    color: rgba(0, 0, 0, 0.4);">
       <i class="icon clock"></i> 3周前
    </div>

      <div class="footer">
          <div class="ui menu reactions">
                        <a class="item reply-upvote ui popover"  href="javascript:;"  title="为此评论点赞" data-id="86682" style="color:rgba(0, 0, 0, 0.4);font-size: 0.9em;">
              <i class="reaction-emoji login_required icon thumbs up outline"></i> <span class="vote-count"></span>
            </a>

            <a class="item ui popover  login_required" data-content="举报违规内容，共建品质社区" href="javascript:void(0)" data-variation="inverted" style="color:rgba(0, 0, 0, 0.4);font-size: 0.9em;" data-contentid="86682" data-contenttype="App\Models\Reply" data-typename="评论">
                <i class="icon flag outline"></i> 举报
            </a>

            <a class="item ui popover " title="此评论的链接" href="https://learnku.com/vuejs/t/24724#reply86682" style="color:rgba(0, 0, 0, 0.4);font-size: 0.9em;" data-contentid="86682" data-contenttype="App\Models\Reply">
                <i class="icon hashtag"></i>
            </a>




                      </div>
      </div>

  </div>
</div>                    </div>

    <br>

    <div class="ui segment extra-padding comment-composing-box pt-3"  style="padding:20px;margin-left:60px">



        <div class="reply ui message hide"></div>

        <form class="ui reply form topic-reply-form"  method="POST"  action="https://learnku.com/replies?24724" accept-charset="UTF-8" id="comment-composing-form">

            <input type="hidden" name="_token" value="B98xKsd3svxMxDRaDSHgk4t7sqQjTuBJOzDhdzev">
            <input type="hidden" name="topic_id" value="24724" />

            <div class="ui message info">
                <i class="icon info" aria-hidden="true"></i>请勿发布不友善或者负能量的内容。与人为善，比聪明更重要！
            </div>



            <div class="field">
              <textarea name="body" id="comment-composing-box" data-emojiable="true" data-storage-key="topic-24724" required class="login_required"></textarea>
            </div>


            <div class="field rm-link-color">
                <div class="pull-left meta">
                    <a href="javascript:;" class="mr-2 emoji-picker text-mute fs-big rm-tdu" data-type="picker" >
                        <i class="icon smile"></i>
                    </a>
                    <a href="javascript:;" class="mr-2 ui popover text-mute" data-html="黏贴或拖拽图片至输入<br>框内皆可上传图片">
                        <i class="icon picture"></i>
                    </a>
                    <a href="javascript:;" class="mr-2 ui popover text-mute" data-html="支持除了 H1~H6 以外的<br>GitHub 兼容 Markdown">
                        支持 MD
                    </a>
                </div>


                <div class="pull-right">
                    <a href="javascript:;" class="compose-help text-mute rm-tdu" style="color: #777;margin-top: 8px;">
                        <i class="icon help"></i>
                    </a>

                    <button class="ui primary labeled icon button login_required no-loading" type="submit" id="comment-composing-submit">
                        <i class="icon comment"></i> 评论
                    </button>
                </div>
                <div class="clearfix"></div>

            </div>
        </form>

        <div class="clearfix"></div>
        <div class="box preview markdown-reply fluidbox-content" id="preview-box" style="display:none;border: dashed 1px #ccc;background: #ffffff;border-radius: 6px;box-shadow:none;margin-top: 20px;margin-bottom: 6px;"></div>
    </div>
</div>
        </div>

        <div class="four wide column">
            <div class="item header sidebar">

            <div class="ui segment text-center">
    <div style="margin-top: 12px;margin-bottom: -10px;margin-bottom: 12px;">
        <button class="ui button primary  small fluid login_required" data-url="https://learnku.com/vuejs/translations/subscribe" data-method="POST">
                            <i class="text-md icon bell"></i> 订阅翻译文章
                    </button>
    </div>

    <div style="    margin: 16px 15px 1px;line-height: 22px;">
        翻译发布时，您将收到即时通知
    </div>
</div>
            <div class="ui card responsive" style="margin-top: 12px;">
        <div class="content text-center">
            <div class="header recommended">文章译者</div>
        </div>
        <div class="content">

                            <div class="text-center">
                                            <a href="https://learnku.com/users/24141">
                            <img class="ui image image-33 stargazer" src="https://iocaffcdn.phphub.org/uploads/avatars/24141_1552477264.jpeg!/both/100x100">
                        </a>
                                            <a href="https://learnku.com/users/23079">
                            <img class="ui image image-33 stargazer" src="https://iocaffcdn.phphub.org/uploads/avatars/23079_1520582690.png!/both/100x100">
                        </a>
                                            <a href="https://learnku.com/users/20847">
                            <img class="ui image image-33 stargazer" src="https://iocaffcdn.phphub.org/uploads/avatars/20847_1514803766.jpeg!/both/100x100">
                        </a>
                                            <a href="https://learnku.com/users/19894">
                            <img class="ui image image-33 stargazer" src="https://iocaffcdn.phphub.org/uploads/avatars/19894_1536049811.png!/both/100x100">
                        </a>
                                            <a href="https://learnku.com/users/30294">
                            <img class="ui image image-33 stargazer" src="https://iocaffcdn.phphub.org/uploads/avatars/30294_1538208237.jpeg!/both/100x100">
                        </a>
                                            <a href="https://learnku.com/users/25363">
                            <img class="ui image image-33 stargazer" src="https://iocaffcdn.phphub.org/uploads/avatars/25363_1526569562.jpg!/both/100x100">
                        </a>
                                            <a href="https://learnku.com/users/32363">
                            <img class="ui image image-33 stargazer" src="https://iocaffcdn.phphub.org/uploads/avatars/32363_1542850249.png!/both/100x100">
                        </a>
                                            <a href="https://learnku.com/users/1">
                            <img class="ui image image-33 stargazer" src="https://iocaffcdn.phphub.org/uploads/avatars/1_1530614766.png!/both/100x100">
                        </a>
                                        <div class="clearfix"></div>
                </div>
                    </div>
    </div>



            <div class="ui segment text-center">
                            <div>
                    <a class="ui button primary small basic login_required" href="https://learnku.com/topics/24724/patches/create" style="margin-bottom: -10px;margin-top: 12px;margin-bottom: 12px;"><i class="icon send"></i> 纠错改进</a>
                </div>
                                </div>

            <div class="ui card responsive" style="background-color: transparent;padding: 0px;    margin-top: 2px;">
    <div class="content" style="padding: 0px;">
                            <a class="" href="https://mp.weixin.qq.com/s/0cixjiWlvws_gDWAqeL-BQ" target="_blank" style="display: block;border-top: 1px solid #d3e0e9;border-bottom: 1px solid #d3e0e9;">
                <img src="https://iocaffcdn.phphub.org/uploads/banners/C8UdTP7zPNFqVuBHzi2N.jpg!/both/554x132" class="ui popover" data-variation="inverted"  data-content="短信赞助商：云片" width="100%">
            </a>
                    <a class="" href="https://www.ucloud.cn/site/active/gift.html?utm_source=laravelchina;utm_medium=content_pic_pc;utm_caign=20181218;utm_content=gift;ytag=laravelchina" target="_blank" style="margin-top: 10px;display: block;border-top: 1px solid #d3e0e9;border-bottom: 1px solid #d3e0e9;">
                <img src="https://iocaffcdn.phphub.org/uploads/banners/5ZVbctY2Ku9Zkxw4k5AK.jpg!/both/554x132" class="ui popover" data-variation="inverted"  data-content="服务器赞助商：UCloud" width="100%">
            </a>
                    <a class="" href="https://www.upyun.com/products/prismcdn?utm_source=laravelchina;utm_medium=banner;utm_caign=prismcdn;utm_content=0503" target="_blank" style="margin-top: 10px;display: block;border-top: 1px solid #d3e0e9;border-bottom: 1px solid #d3e0e9;">
                <img src="https://iocaffcdn.phphub.org/uploads/banners/5LNCgFww4UqiB4Jf4yPl.jpg!/both/554x132" class="ui popover" data-variation="inverted"  data-content="Composer 镜像赞助商：又拍云" width="100%">
            </a>
            </div>
</div>


    <div class="ui card responsive">
    <a class="lh-0" href="https://learnku.com/articles/19194" target="_blank">
        <img src="https://iocaffcdn.phphub.org/uploads/images/201904/09/1/eotC6gGi3q.png!large" class="w-100 ui popover" title="">
    </a>
</div>
    <div style="margin-top:-20px" class="hide-on-mobile">
    <div class="ui toc sticky" style="padding-top:20px;">
        <div class="ui  card column author-box grid " id="toc">
        </div>
    </div>
</div>
</div>        </div>



                    <div class="ui sixteen wide column">
<h3 class="text-mute">社区文档：</h3>

<div class="ui four doubling  cards">


                         <div class="card">
                <a class="image"  target="_blank" href="https://vuejscaff.com/v2/">
                  <img src="https://iocaffcdn.phphub.org/uploads/images/201901/28/1/fx3wutWJ1C.png!/both/600x296">
                </a>
                <h2 class="my-3 mx-2 fw-bold rm-link-color">
                    <a  target="_blank" href="https://vuejscaff.com/v2/" class="no-pjax">Vue.js 官方中文文档</a>
                </h2>
                <div class="description mx-3 text-center my-3 hide-on-mobile">
                  API 查阅、风格指南、示例、Cookbook 等
                </div>
            </div>
                     <div class="card">
                <a class="image"  target="_blank" href="https://learnku.com/docs/environment-setup">
                  <img src="https://iocaffcdn.phphub.org/uploads/images/201901/28/1/cRwKMIcrw5.jpeg!/both/600x296">
                </a>
                <h2 class="my-3 mx-2 fw-bold rm-link-color">
                    <a  target="_blank" href="https://learnku.com/docs/environment-setup" class="no-pjax">前端开发环境部署</a>
                </h2>
                <div class="description mx-3 text-center my-3 hide-on-mobile">
                  部署你的 Vue.js 或者前端开发者环境
                </div>
            </div>
            </div>
</div>
    </div>

    <div class="ui modal small report">
    <div class="header modal-title">内容举报</div>

    <form class="ui form" method="POST" action="https://learnku.com/reports" accept-charset="UTF-8">
         <input type="hidden" name="_token" value="B98xKsd3svxMxDRaDSHgk4t7sqQjTuBJOzDhdzev">

        <input name="reportable_id" type="hidden" value="">
        <input name="reportable_type" type="hidden" value="">

        <div class="content" style="padding: 20px;">
              <p>
                  我要举报该<span class='modal-typename'></span>，理由是：
              </p>

                                    <div class="field">
                        <div class="ui radio checkbox">
                            <input  type="radio" name="report_type" value="spam" required>
                            <label><strong>垃圾广告</strong>：恶意灌水、广告、推广等内容</label>
                        </div>
                    </div>
                                    <div class="field">
                        <div class="ui radio checkbox">
                            <input  type="radio" name="report_type" value="meaningless" required>
                            <label><strong>无意义内容</strong>：测试、灌水、文不对题、文章品质太差等</label>
                        </div>
                    </div>
                                    <div class="field">
                        <div class="ui radio checkbox">
                            <input  type="radio" name="report_type" value="violation" required>
                            <label><strong>违规内容</strong>：色情、暴利、血腥、敏感信息等</label>
                        </div>
                    </div>
                                    <div class="field">
                        <div class="ui radio checkbox">
                            <input  type="radio" name="report_type" value="unfriendly" required>
                            <label><strong>不友善内容</strong>：人身攻击、挑衅辱骂、恶意行为</label>
                        </div>
                    </div>
                                    <div class="field">
                        <div class="ui radio checkbox">
                            <input  type="radio" name="report_type" value="vpn" required>
                            <label><strong>科学上网</strong>：翻墙、VPN、Shadowsocks，政策风险，会被关站！</label>
                        </div>
                    </div>
                                    <div class="field">
                        <div class="ui radio checkbox">
                            <input  type="radio" name="report_type" value="qa" required>
                            <label><strong>不懂提问</strong>：提问太随意，需要再做一遍《提问的智慧》测验</label>
                        </div>
                    </div>
                                    <div class="field">
                        <div class="ui radio checkbox">
                            <input  type="radio" name="report_type" value="other" required>
                            <label><strong>其他理由</strong>：请补充说明</label>
                        </div>
                    </div>

              <div class="field">
                  <textarea placeholder="请提供详尽的说明" name="reason" rows="3"></textarea>
              </div>
        </div>
        <div class="actions field" style="padding: 1px 12px 25px;">
            <button class="ui primary button" type="submit">举报</button>
            <div class="ui cancel button">取消</div>
        </div>
    </form>

</div>


    <script>


        Config.topic_id = 24724;
        Config.following_users =   [] ;
    </script>

            </div>

            <a class="circular ui icon button fixed feedback popover" data-content="建议与反馈 @Summer" data-position="left center"
    href="https://learnku.com/contact"
>
  <i class="icon talk outline"></i>
</a>

<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
            <div class="four wide column">
                <h4 class="ui inverted header">
                    关于 LearnKu
                </h4>
                <div class="ui inverted  text-center">
                    <div class="lh-3">LearnKu 是终身学习者的编程知识社区</div>
                    <div class="lh-3">保持好奇，刻意练习，每日精进</div>
                </div>

            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">资源推荐</h4>
                <div class="ui inverted link list text-mute">
                                                                        <a href="https://learnku.com/docs/guide" class="item" target="_blank" style="line-height: 28px;">
                                《社区使用指南》
                            </a>
                                                    <a href="https://learnku.com/docs/writing-docs" class="item" target="_blank" style="line-height: 28px;">
                                《文档撰写指南》
                            </a>
                                                            </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">赞助商</h4>
                <div class="ui inverted link list">
                                                                        <a href="https://passport.ucloud.cn/?invitation_code=rami45zj5kpm;ytag=reZ5E7" class="item" target="_blank" style="line-height: 28px;">
                                <img src="https://iocaffcdn.phphub.org/uploads/banners/bQawWl3vT5dc2lYx5JZ7.png" title="本站服务器由 UCloud 赞助" class="ui popover" style="height: 20px;margin-bottom: -4px;margin-right: 3px;display: inline-block;">
                            </a>
                                                    <a href="https://console.upyun.com/register/?invite=HySQsrmVb" class="item" target="_blank" style="line-height: 28px;">
                                <img src="https://iocaffcdn.phphub.org/uploads/banners/XPtLlZmIN1cQbLuDFEON.png" title="Composer 镜像赞助商" class="ui popover" style="height: 20px;margin-bottom: -4px;margin-right: 3px;display: inline-block;">
                            </a>
                                                    <a href="http://www.sendcloud.net/" class="item" target="_blank" style="line-height: 28px;">
                                <img src="https://iocaffcdn.phphub.org/uploads/banners/JpTCK6OKYBIrBIWdtob8.png" title="订阅邮件赞助商：SendCloud" class="ui popover" style="height: 20px;margin-bottom: -4px;margin-right: 3px;display: inline-block;">
                            </a>
                                                            </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">其他信息</h4>
                <div class="ui inverted link list">

                    <li>
                        <a class="item" href="https://learnku.com/contact">
                            <i class="icon wechat" aria-hidden="true"  target="_blank"></i> 联系站长
                        </a>
                    </li>
                                            <li><a class="item" href="https://learnku.com/issues" target="_blank"><i class="icon mail outline"></i> PHP / Laravel 月刊</a></li>
                    
                    <li>
                        <a class="item" href="https://learnku.com/contact" target="_blank">
                            <i class="icon student"></i> 成为讲师
                        </a>
                    </li>


                </div>
            </div>
            
        </div>

        <div class="ui inverted section divider"></div>
        <div>

            <p style="font-size:0.9em; margin-top:20px;margin-bottom: -8px;color: rgb(137, 137, 140);" class="ui inverted signature">
                  由 <a href="https://learnku.com/contact" target="_blank" style="color: inherit;">Summer</a> 设计和编码 <span style="color: #e27575;font-size: 14px;">❤</span>
            </p>
        </div>
    </div>
</div>
            
        </div>
        <div class="ui modal login small" style="width:400px;margin: 0em 0em 0em -200px;">
  <i class="close icon"></i>
  <div class="header">
    <h4 class="modal-title ">
        <img class="ui image display-inline-block mr-2" style="width:32px;height:32px;" src="https://iocaffcdn.phphub.org/uploads/images/201901/24/1/OyBnfB2vlk.png"> <span style="position: relative;top: 4px;">请登录</span>
    </h4>
  </div>
  <div class="content">
    <div class="ui message warning">
        <i class="icon info"></i> Laravel China 老用户可以从 <a href="https://laravel-china.org/migration" target="_blank">此处登入</a>
    </div>

<form class="ui form login" role="form" method="POST" action="https://learnku.com/auth/login" accept-charset="UTF-8">
    <input type="hidden" name="_token" value="B98xKsd3svxMxDRaDSHgk4t7sqQjTuBJOzDhdzev">
    <input type="hidden" name="remember" value="yes">

    <input type="hidden" name="return_back" value="no">

  <div class="field">
    <div class="ui left icon input">
        <i class="user icon"></i>
        <input type="text" name="username" placeholder="手 机 or 邮 箱" value="" required>
      </div>
  </div>
  <div class="field">
    <div class="ui left icon input">
        <i class="lock icon"></i>
        <input type="password" name="password" placeholder="密 码" value="" required>
      </div>
  </div>
  <button class="ui green right labeled icon button" type="submit">
    <i class="right arrow icon"></i>
    提交
  </button>

    <div class="pull-right mt-2 rm-link-color">
        <a class="btn btn-link " href="https://learnku.com/auth/forget" target="_blank">
            忘记密码?
        </a>
        <span class="text-mute">or</span>
        <a class="btn btn-link " href="https://learnku.com/auth/register" target="_blank">
            注册
        </a>
    </div>

    <div class="clearfix"></div>


  <div class="ui horizontal divider fs-tiny text-mute">
    第三方账号登录
  </div>


                <a class="ui button fluid mt-2 basic" id="login-required-submit" href="https://learnku.com/auth/oauth?driver=github"><i class="fa fa-github-alt"></i> GitHub 登录</a>
      

</form>  </div>
</div>    </body>

        <!-- Scripts -->
    <script src="https://iocaffcdn.phphub.org//build/js/eeee270aba53346df056-vendors.js"></script>
    <script src="https://iocaffcdn.phphub.org//build/js/168d368572eb20187101-app.js"></script>    
</html>